body{
	padding: none;
	margin: 0;
	background-image: url('backbbt2.jpg');
	background-attachment: fixed;
}

a{
	text-decoration: none;
	color: white;
}

#menu div{
	display:none;
}

.sous{
	display: none;
}

.perso{
	display: inline-block;
	margin-right:1vw;
}

ul{
	list-style: none;
	display: inline-block;
}

a:hover{
	color: grey;
	font-size: 1.5em;
}

#img_group img{
	width: 35%;
	border: solid 2px black;
	box-shadow: 10px 10px 10px gold;
	display: inline-block;
	margin-left: 32%;
	margin-top: 10%;
}

#watermark img{
	width: 10%;
	position: fixed;
	top: 1%;
	right: 1%;
}
	

footer{
	margin: 5% 0 1% 1%;
	position: fixed;
	bottom: 0;
}

#network table img{
	width: 60px;
	background-color: green;
	border-radius: 15px;
}

#network img:hover{
	opacity: 0.8;
	width: 68px;
}

#network th{
	padding-right: 10%;
}